@model ClientViewModel

@{
    ViewData["Title"] = "Add New Client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Add New Client</h2>

        <div class="right-wrapper text-right">
            <ol class="breadcrumbs">
                <li>
                    <a asp-controller="Home" asp-action="Index">
                        <i class="bx bx-bar-chart-alt-2"></i>
                    </a>
                </li>
                <li><span><a asp-controller="Setup" asp-action="ListClients">Clients</a></span></li>
                <li><span>New Client</span></li>
            </ol>

            @*<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>*@
        </div>
    </header>
    <div class="row">
        <div class="col-lg-12">
            <section class="card">
                <form asp-action="AddClient" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <header class="card-header">
                        <h2 class="card-title">Add New Client</h2>
                    </header>
                    @if (ViewBag.Message != null)
                    {
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> @ViewBag.Message
                        </div>
                    }
                    <div class="card-body">
                    
                        <div class="row form-group">
                            <div class="col-lg-3">
                                <label class="col-form-label" asp-for="Customer"></label>
                                <select asp-for="CustomerId" asp-items="ViewBag.CustomerId" class="form-control">
                                    <option selected="selected" value="">Please Select Customer</option>
                                </select>
                                <span asp-validation-for="CustomerId" class="text-danger"></span>
                            </div>

                            <div class="mb-3 hidden-lg"></div>

                            <div class="col-lg-3">
                                <label class="col-form-label" asp-for="House"></label>
                                <select asp-for="HouseId" asp-items="ViewBag.HouseId" class="form-control">
                                    <option selected="selected" value="">Please Select House</option>
                                </select>
                                <span asp-validation-for="HouseId" class="text-danger"></span>
                            </div>

                            <div class="mb-3 hidden-lg"></div>

                            <div class="col-lg-3">
                                <label class="col-form-label" asp-for="ResidentialType"></label>
                                <select asp-for="ResidentialType" asp-items="Html.GetEnumSelectList<ResidentialType>()" class="form-control">
                                    <option selected="selected" value="">Please Select Residential Type</option>
                                </select>
                                <span asp-validation-for="ResidentialType" class="text-danger"></span>
                            </div>

                        </div>

                        <div class="row form-group">
                            <div class="col-lg-4">
                                <label class="col-form-label" asp-for="LastName"></label>
                                <input asp-for="LastName" type="text" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>

                            <div class="mb-3 hidden-lg"></div>

                            <div class="col-lg-4">
                                <label class="col-form-label" asp-for="MiddleName"></label>
                                <input asp-for="MiddleName" type="text" class="form-control" />
                                <span asp-validation-for="MiddleName" class="text-danger"></span>
                            </div>

                            <div class="mb-3 hidden-lg"></div>

                            <div class="col-lg-4">
                                <label class="col-form-label" asp-for="FirstName"></label>
                                <input asp-for="FirstName" type="text" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        
                        <div class="row form-group">
                            <div class="col-lg-4">
                                <label class="col-form-label" asp-for="Gender"></label>
                                <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control">
                                    <option selected="selected" value="">Please Select Gender</option>
                                </select>
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>

                            <div class="mb-3 hidden-lg"></div>

                            <div class="col-lg-4">
                                <label class="col-form-label" asp-for="BirthDate"></label>
                                <input asp-for="BirthDate" type="date" class="form-control" />
                                <span asp-validation-for="BirthDate" class="text-danger"></span>
                            </div>

                        </div>

                        <div class="row form-group">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="col-form-label" asp-for="Email"></label>
                                    <input asp-for="Email" type="email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="mb-3 hidden-lg"></div>

                            <div class="col-lg-4">
                                <label class="col-form-label" asp-for="Phone"></label>
                                <input asp-for="Phone" type="text" class="form-control" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>

                            <div class="mb-3 hidden-lg"></div>

                            <div class="col-lg-4">
                                <label class="col-form-label" asp-for="DateJoined"></label>
                                <input asp-for="DateJoined" type="date" class="form-control" />
                                <span asp-validation-for="DateJoined" class="text-danger"></span>
                            </div>
                        </div>
                        
                        <div class="row form-group">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label" asp-for="EmergencyContactAddress"></label>
                                    <input asp-for="EmergencyContactAddress" type="text" class="form-control" />
                                    <span asp-validation-for="EmergencyContactAddress" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            
                            <div class="col-lg-4">
                                <label class="col-form-label" asp-for="EmergencyContactPhone"></label>
                                <input asp-for="EmergencyContactPhone" type="text" class="form-control" />
                                <span asp-validation-for="EmergencyContactPhone" class="text-danger"></span>
                            </div>

                            <div class="mb-3 hidden-lg"></div>

                            <div class="col-lg-4">
                                <label class="col-form-label" asp-for="Relationship"></label>
                                <select asp-for="Relationship" asp-items="Html.GetEnumSelectList<RelationshipType>()" class="form-control">
                                    <option selected="selected" value="">Please Select Relationship</option>
                                </select>
                                <span asp-validation-for="Relationship" class="text-danger"></span>
                            </div>

                            <div class="mb-3 hidden-lg"></div>

                            <div class="col-lg-4">
                                <label class="col-form-label" asp-for="GuadianPhoneNumber"></label>
                                <input asp-for="GuadianPhoneNumber" type="text" class="form-control" />
                                <span asp-validation-for="GuadianPhoneNumber" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label class="col-form-label" asp-for="FamilyPhysician"></label>
                                <input asp-for="FamilyPhysician" type="text" class="form-control" />
                                <span asp-validation-for="FamilyPhysician" class="text-danger"></span>
                            </div>

                            <div class="mb-3 hidden-lg"></div>

                            <div class="col-lg-6">
                                <label class="col-form-label" asp-for="Psychiatrist"></label>
                                <input asp-for="Psychiatrist" type="text" class="form-control" />
                                <span asp-validation-for="Psychiatrist" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-lg-3">
                                <label class="col-form-label" asp-for="Currency"></label>
                                <select asp-for="CurrencyId" asp-items="ViewBag.CurrencyId" class="form-control">
                                    <option selected="selected" value="">Please Select Currency</option>
                                </select>
                                <span asp-validation-for="CurrencyId" class="text-danger"></span>
                            </div>

                            <div class="mb-3 hidden-lg"></div>

                            <div class="col-lg-3">
                                <label class="col-form-label" asp-for="Budget"></label>
                                <input id="number_input" asp-for="Budget" asp-format="{0:#,#0.00}" type="text" class="form-control CurrencyInput" />
                                <span asp-validation-for="Budget" class="text-danger"></span>
                            </div>

                            <div class="mb-3 hidden-lg"></div>
                                
                            <div class="col-lg-3">
                                <label class="col-form-label" asp-for="BudgetStartDate"></label>
                                <input asp-for="BudgetStartDate" type="date" class="form-control" />
                                <span asp-validation-for="BudgetStartDate" class="text-danger"></span>
                            </div>

                            <div class="mb-3 hidden-lg"></div>

                            <div class="col-lg-3">
                                <label class="col-form-label" asp-for="BudgetEndDate"></label>
                                <input asp-for="BudgetEndDate" type="date" class="form-control" />
                                <span asp-validation-for="BudgetEndDate" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-2 control-label text-lg-right pt-2">Note</label>
                            <div class="col-lg-8">
                                <textarea asp-for="Notes" class="summernote" displayReadonly data-plugin-summernote data-plugin-options='{ "height": 200, "codemirror": { "theme": "ambiance" } }' data-plugin></textarea>                                
                            </div>
                            <span asp-validation-for="Notes" class="text-danger"></span>
                        </div>                       
                  
                    </div>
                    <footer class="card-footer text-right">
                        <input type="submit" value="Save" class="btn btn-primary" style="background-color:cornflowerblue" />
                        <a class="btn btn-secondary" asp-action="ListClients">Cancel</a>
                    </footer>
                </form>
            </section>


        </div>
    </div>

</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}