@model VendorViewModel

@{
    ViewData["Title"] = "Edit Vendor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Edit Vendor</h2>

        <div class="right-wrapper text-right">
            <ol class="breadcrumbs">
                <li>
                    <a asp-controller="Home" asp-action="Index">
                        <i class="bx bx-bar-chart-alt-2"></i>
                    </a>
                </li>
                <li><span><a asp-controller="Setup" asp-action="ListVendors">Vendors</a></span></li>
                <li><span>Edit Vendor</span></li>
            </ol>

            @*<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>*@
        </div>
    </header>
    <div class="row">
        <div class="col-lg-12">
            <section class="card">
                <form asp-action="EditVendor" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="VendorId" />
                    <input type="hidden" asp-for="OrganizationId" />
                    <header class="card-header">
                        <h2 class="card-title">Edit Vendor</h2>
                    </header>
                    @if (ViewBag.Message != null)
                    {
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> @ViewBag.Message
                        </div>
                    }
                    <div class="card-body">
                    
                        <div class="row form-group">
                            <div class="col-lg-6">
                                <label class="col-form-label" asp-for="Name"></label>
                                <input asp-for="Name" type="text" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <div class="mb-3 hidden-lg"></div>

                            <div class="col-lg-6">
                                <label class="col-form-label" asp-for="ContactPerson"></label>
                                <input asp-for="ContactPerson" type="text" class="form-control" />
                                <span asp-validation-for="ContactPerson" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="row form-group">
                            <div class="col-lg-6">
                                <label class="col-form-label" asp-for="Address"></label>
                                <input asp-for="Address" type="text" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>

                            <div class="mb-3 hidden-lg"></div>

                            <div class="col-lg-3">
                                <label class="col-form-label" asp-for="City"></label>
                                <input asp-for="City" type="text" class="form-control" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>

                            <div class="mb-3 hidden-lg"></div>

                            <div class="col-lg-3">
                                <label class="col-form-label" asp-for="PostCode"></label>
                                <input asp-for="PostCode" type="text" class="form-control" />
                                <span asp-validation-for="PostCode" class="text-danger"></span>
                            </div>

                        </div>

                        <div class="row form-group">
                            <div class="col-lg-4">
                                <label class="col-form-label" asp-for="Email"></label>
                                <input asp-for="Email" type="email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="mb-3 hidden-lg"></div>

                            <div class="col-lg-4">
                                <label class="col-form-label" asp-for="Phone"></label>
                                <input asp-for="Phone" type="tel" class="form-control" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>

                            <div class="mb-3 hidden-lg"></div>

                            <div class="col-lg-4">
                                <label class="col-form-label" asp-for="PaymentMethod"></label>
                                <select asp-for="PaymentMethod" id="paymentMethod" asp-items="Html.GetEnumSelectList<PaymentMethod>()" class="form-control">
                                    <option selected="selected" value="">Please Select Payment Method</option>
                                </select>
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>

                        </div>

                        <div class="row form-group" id="bankInfo">

                            <div class="col-lg-3">
                                <label class="col-form-label" asp-for="BankName"></label>
                                <input asp-for="BankName" type="text" id="bankName" class="form-control" />
                                <span asp-validation-for="BankName" class="text-danger"></span>
                            </div>

                            <div class="mb-3 hidden-lg"></div>

                            <div class="col-lg-3">
                                <label class="col-form-label" asp-for="BankCode"></label>
                                <input asp-for="BankCode" type="number" id="bankCode" class="form-control" />
                                <span asp-validation-for="BankCode" class="text-danger"></span>
                            </div>

                            <div class="mb-3 hidden-lg"></div>

                            <div class="col-lg-3">
                                <label class="col-form-label" asp-for="TransitCode"></label>
                                <input asp-for="TransitCode" type="number" id="transitCode" class="form-control" />
                                <span asp-validation-for="TransitCode" class="text-danger"></span>
                            </div>

                            <div class="mb-3 hidden-lg"></div>

                            <div class="col-lg-3">
                                <label class="col-form-label" asp-for="AccountNumber"></label>
                                <input asp-for="AccountNumber" type="number" id="accountNumber" class="form-control" />
                                <span asp-validation-for="AccountNumber" class="text-danger"></span>
                            </div>
                        </div>
                  
                    </div>
                    <footer class="card-footer text-right">
                        <input type="submit" value="Save" class="btn btn-primary" style="background-color:cornflowerblue" />
                        <a class="btn btn-secondary" asp-action="ListVendors">Cancel</a>
                    </footer>
                </form>
            </section>


        </div>
    </div>

</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <style>
            /* Chrome, Safari, Edge, Opera */
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            /* Firefox */
            input[type=number] {
                -moz-appearance: textfield;
            }
        </style>

        <script type="text/javascript">
            $('#paymentMethod').bind('change', function () {

                if ($("#paymentMethod").val() != "2") {
                    $("#bankInfo").hide();
                }
                else {
                    $("#bankInfo").show();
                }
            });
        </script>
    }
}
