@model LeaveViewModel

@{
    ViewData["Title"] = "New Leave Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Add Leave Request</h2>

        <div class="right-wrapper text-right">
            <ol class="breadcrumbs">
                <li>
                    <a asp-controller="Home" asp-action="Index">
                        <i class="bx bx-bar-chart-alt-2"></i>
                    </a>
                </li>
                <li><span><a asp-controller="EmployeeManagement" asp-action="ListLeaveRequests">Leave Requests</a></span></li>
                <li><span>New Leave Request</span></li>
            </ol>

            @*<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>*@
        </div>
    </header>
    <div class="row">
        <div class="col-lg-12">
            <section class="card">
                <form asp-controller="EmployeeManagement" asp-action="AddLeaveRequest" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <header class="card-header">
                        <h2 class="card-title">Add New Leave Request</h2>
                    </header>
                    @if (ViewBag.Message != null)
                    {
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> @ViewBag.Message
                        </div>
                    }
                    <div class="card-body">

                        <div class="row form-group">
                            <div class="col-lg-4">
                                <label class="col-form-label" asp-for="LeaveSettingId"></label>
                                <select asp-for="LeaveSettingId" asp-items="ViewBag.LeaveSettingId" class="form-control">
                                    <option selected="selected" value="">Please Select Job Title</option>
                                </select>
                                <span asp-validation-for="LeaveSettingId" class="text-danger"></span>
                            </div>

                            <div class="mb-3 hidden-lg"></div>

                            <div class="col-lg-4">
                                <label class="col-form-label" asp-for="StartDate"></label>
                                <input asp-for="StartDate" type="date" class="form-control" />
                                <span asp-validation-for="StartDate" class="text-danger"></span>
                            </div>

                            <div class="mb-3 hidden-lg"></div>

                            <div class="col-lg-4">
                                <label class="col-form-label" asp-for="EndDate"></label>
                                <input asp-for="EndDate" type="date" class="form-control" />
                                <span asp-validation-for="EndDate" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-lg-4">
                                <label class="col-form-label" asp-for="LeaveDaysRemaining"></label>
                                <input asp-for="LeaveDaysRemaining" type="text" class="form-control" readonly />
                                <span asp-validation-for="LeaveDaysRemaining" class="text-danger"></span>
                            </div>

                            <div class="mb-3 hidden-lg"></div>

                            <div class="col-lg-4">
                                <label class="col-form-label" asp-for="NumberOfDays"></label>
                                <input asp-for="NumberOfDays" asp-format="{0:##}" type="number" min="1" max="60" class="form-control" />
                                <span asp-validation-for="NumberOfDays" class="text-danger"></span>
                            </div>

                        </div>

                        <div class="form-group row">
                            <label asp-for="LeaveReason" class="col-lg-2 control-label text-lg-right pt-2"></label>
                            <div class="col-lg-8">
                                <textarea asp-for="LeaveReason" class="summernote" displayReadonly data-plugin-summernote data-plugin-options='{ "height": 200, "codemirror": { "theme": "ambiance" } }' data-plugin></textarea>
                            </div>
                            <span asp-validation-for="LeaveReason" class="text-danger"></span>
                        </div>


                    </div>
                    <footer class="card-footer text-right">
                        <input type="submit" value="Save" class="btn btn-primary" style="background-color:cornflowerblue" />
                        <a class="btn btn-secondary" asp-action="ListVacancies">Cancel</a>
                    </footer>
                </form>
            </section>

        </div>
    </div>

</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
