@* @model EmployeeDocument *@


<div class="text-center">
    <h1 class="display-4">Document Viewer</h1>
    @* <iframe width="700" height="700" src="@Model.FilePath" type="application/pdf"></iframe> *@
</div>