
@{

    ViewData["Title"] = "Error404";

}


<div class="container-fluid mb-5 center-height">
    <!-- Content Row -->
    <div class="row h-100" style="font-family: 'Calibri'; font-weight: normal; font-style: normal;">
        <div class="col-sm-12 my-auto text-center text">
            <h2>Oops! :(</h2>
            <h4>404 Page not found</h4>
            <p>
                Uh oh, we can’t seem to find the page that you are looking for. Try going back to the
                Dashboard.
            </p>
            <a href="~/Dashboard/Index" class="solid-btn outline-btn btn">Go to Dashboard</a>
        </div>
    </div>
</div>
