@{ 

    
}

<div class="container-fluid mb-5 center-height">
    <!-- Content Row -->
    <div class="row h-100" style="font-family: 'Calibri'; font-weight: normal; font-style: normal;">
        <div class="col-sm-12 my-auto text-center text" style="font-family:Calibri;">
            <h2>Oops! :(</h2>
            <h4> @ViewData["ErrorCode"] </h4>
            <p>
                @ViewData["ErrorMessage"]
            </p>
            <a style="font-family:Calibri;" href="~/Home/Index" class="solid-btn outline-btn btn">Go to Dashboard</a>
            
        </div>
    </div>
</div>
                